
/* **************************** */
h1,h2,h3,h4,h5,p{
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.header-bg{
    background-color: rgba(0,0,0,.8);
    transition: 0.5s;
}


.nav-item{
    display: flex;
    list-style-type: none;
}
.nav-item li{
padding: 0 1rem;
list-style: none;
}

.nav-item li a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.butn{
    padding: 12px 32px;
    font-size: 1rem;
    color: cyan;
    border: 1px solid white;
    font-weight: 600;
    cursor: pointer;
    margin: .2rem;
    background: rgba(0,0,0,.1);
    text-decoration: none;
}
.butn:hover{
    color: #fff;
    transition: 0.6s;

    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.im{
    background: rgba(0,0,0,.2);
    color: #fff;
    transition: 0.6s;
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
}
.im:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.sidebar{
    display: none;
}
/* HOME page */

.mask{
    width: 100%;
     height: 100%;
     position: absolute;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
}
.into-img{
    width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        object-fit: cover;
}
.img-section{
    height: 100%;
    width: 100%;
}
.img-section .con{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
   
}
.ab{
    position: absolute;
    top: 100%; 
    /* About................. */                   
}
.Abimage{
    width: 20%;
    border-left: 4px solid orange;
    border-right: 4px solid orange;
    border-radius: 25%;
    padding-left: 8px;
    box-shadow: 0 0 2px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 50px cyan, 0 0 100px cyan;
    /* background-color:yellow ; */
}

/* Skill section ............ */

.man{
    padding: 25px;
}
.man .skill{
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    background-color:rgb(11, 11, 11);    
}
.man .skill img{
    width: 150px; 
    height: 170px; 
    object-fit: cover;
    margin-bottom: 10px; 
}
.man .skill #rec{
    width: 170px;
}
.man:hover{
    .skill h2{
        color: #ff0082;
    }
}
/* Qualification section .............. */
